<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProyectoPAvanzadaConnectionString"
            connectionString="Data Source=laptop-8f4n8264\sqlexpress;Initial Catalog=ProyectoPAvanzada;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>